<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Node Proxy Scenario</title>
    <link rel="stylesheet" type="text/css" href="static/css/ink-min.css">
    <script src="static/js/ink.min.js"></script>
    <script src="static/js/ink.table.js"></script>
    <script src="static/js/autoload.js"></script>
    <script src="static/js/zepto.js"></script>
</head>
<body>
<div class="ink-grid">
    {{{body}}}
</div>
<script>
    $(document).ready(function () {
        var buttons = $(".modifyButton");
        buttons.click(function () {
            var id = $(this).data('entryid');
            var bodyIn = $('#' + id + '_bodyin').val();
            var bodyOut = $('#' + id + '_bodyout').val();
            var $spanAlert = $('#' + id + '_alert');
            console.log(JSON.stringify({ bodyIn: bodyIn, bodyOut: bodyOut }));
            $spanAlert.removeClass("red").removeClass("green");
            $.ajax({
                type: 'PUT',
                url: '/entry/' + id,
                data: JSON.stringify({ bodyIn: bodyIn, bodyOut: bodyOut }),
                contentType: 'application/json',
                success: function (data) {
                    $spanAlert.addClass("green");
                    $spanAlert.text("Saved");
                    setTimeout(function () {
                        $spanAlert.text("")
                    }, 2000);
                },
                error: function (xhr, type) {
                    $spanAlert.addClass("red");
                    $spanAlert.text("Error during the save");
                    setTimeout(function () {
                        $spanAlert.text("")
                    }, 5000);
                }
            })
        });
    });
</script>
</body>
</html>