<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Node Proxy Scenario - Admin Web Interface</title>
    <link rel="stylesheet" type="text/css" href="static/css/ink-min.css">
    <link rel="stylesheet" type="text/css" href="static/css/jquery.onoff.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/ink.min.js"></script>
    <script src="static/js/ink.table.js"></script>
    <script src="static/js/ink.tabs.js"></script>
    <script src="static/js/ink.modal.js"></script>
    <script src="static/js/autoload.js"></script>

    <script src="static/js/jquery.onoff.min.js"></script>
    <style>
        body {
            font-family: Ubuntu, Arial, Helvetica, Sans-serif;
        }

        .onoffswitch {
            margin-top: 10px;
        }

    </style>
</head>
<body>
<div class="ink-grid">
    {{{body}}}
</div>
<script>
    $(document).ready(function () {
        var buttons = $(".modifyButton");
        buttons.click(function () {
            var id = $(this).data('entryid');
            var bodyIn = $('#' + id + '_bodyin').val();
            var bodyOut = $('#' + id + '_bodyout').val();
            var $spanAlert = $('#' + id + '_alert');
            console.log(JSON.stringify({ bodyIn: bodyIn, bodyOut: bodyOut }));
            $spanAlert.removeClass("red").removeClass("green");
            $.ajax({
                type: 'PUT',
                url: '/entry/' + id,
                data: JSON.stringify({ bodyIn: bodyIn, bodyOut: bodyOut }),
                contentType: 'application/json',
                success: function (data) {
                    $spanAlert.addClass("green");
                    $spanAlert.text("Saved");
                    setTimeout(function () {
                        $spanAlert.text("")
                    }, 2000);
                },
                error: function (xhr, type) {
                    $spanAlert.addClass("red");
                    $spanAlert.text("Error during the save");
                    setTimeout(function () {
                        $spanAlert.text("")
                    }, 5000);
                }
            })
        });

        $('.saveSettings').click(function () {
            var submitId = $(this).attr('id');
            var $input = $('input[data-submit=' + submitId + ']');
            var value = $input.val();
            var currentId = $input.attr('id');
            $.ajax({
                type: 'PUT',
                url: '/setting/' + currentId,
                data: '{"value": ' + value + ' }',
                contentType: 'application/json',
                success: function (data) {
                    console.log("OK : " + JSON.stringify(data));
                },
                error: function (xhr, type) {
                    console.log("ERROR " + type);
                }
            })

        });
    });
    /*var modal = new Ink.UI.Modal('#modal');
    Ink.requireModules(['Ink.UI.Modal_1'], function (Modal) {
        new Modal('.ink-modal');
    });
    modal.onShow(function () {
        console.log("Show modal");
    });*/
    $('input[type="checkbox"]').onoff();
</script>
</body>
</html>