<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Node Proxy Scenario - Admin Web Interface</title>
    <link rel="stylesheet" type="text/css" href="static/css/ink-min.css">
    <link rel="stylesheet" type="text/css" href="static/css/jquery.onoff.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/ink.min.js"></script>
    <script src="static/js/ink.table.js"></script>
    <script src="static/js/ink.tabs.js"></script>
    <script src="static/js/ink.modal.js"></script>
    <script src="static/js/underscore.min.js"></script>
    <script src="static/js/autoload.js"></script>
    <script src="static/js/jquery.onoff.min.js"></script>
    <style>
        body {
            font-family: Ubuntu, Arial, Helvetica, Sans-serif;
        }

        .onoffswitch {
            margin-top: 10px;
        }

    </style>
</head>
<body>
<div class="ink-grid">
    {{{body}}}
</div>
<script>
    $(document).ready(function () {
        var buttons = $(".modifyButton");
        buttons.click(function () {
            var id = $(this).data('entryid');
            var bodyIn = $('#' + id + '_bodyin').val();
            var bodyOut = $('#' + id + '_bodyout').val();
            var $spanAlert = $('#' + id + '_alert');
            console.log(JSON.stringify({ bodyIn: bodyIn, bodyOut: bodyOut }));
            $spanAlert.removeClass("red").removeClass("green");
            $.ajax({
                type: 'PUT',
                url: '/entry/' + id,
                data: JSON.stringify({ bodyIn: bodyIn, bodyOut: bodyOut }),
                contentType: 'application/json',
                success: function (data) {
                    $spanAlert.addClass("green");
                    $spanAlert.text("Saved");
                    setTimeout(function () {
                        $spanAlert.text("")
                    }, 2000);
                },
                error: function (xhr, type) {
                    $spanAlert.addClass("red");
                    $spanAlert.text("Error during the save");
                    setTimeout(function () {
                        $spanAlert.text("")
                    }, 5000);
                }
            })
        });

        $('#searchEntry').click(function () {
            var $input = $('input[data-input=searchEntry]');
            $.ajax({
                type: 'POST',
                url: '/entry/search',
                data: '{"q": "' + $input.val() + '" }',
                contentType: 'application/json',
                success: function (data) {
                    var ids = _.pluck(data, "_id");
                    console.log(data.length);
                    var $tr = $('#trash tbody tr');
                    if ($tr.length > 0) {
                        $('#entries tbody').html($('#trash tbody').html());
                        $('#trash tbody').html("");
                    }
                    $('#entries tbody tr').each(function (index, element) {
                        var $this = $(this);
                        var id = $this.attr('id');
                        if (!_.contains(ids, id)) {
                            $this.detach().appendTo('#trash');
                        } else {
                            $this.clone().appendTo('#trash');
                        }
                    });
                    $('.pagination').html("");
                    Ink.requireModules(['Ink.Dom.Selector_1', 'Ink.UI.Table_1'], function (Selector, Table) {
                        var tableElement = Ink.s('.ink-table');
                        var tableObj = new Table(tableElement);
                    });
                }
            })
        });
        $('.openModal').click(function () {
            var id = $(this).attr('data-target');
            $.ajax({
                type: 'GET',
                url: '/entry/' + id,
                contentType: 'application/json',
                success: function (data) {
                    console.log(data);
                    $('#modal_id').html(data.method + " " + data.url);
                }
            })
        });
        $('#online').change(function () {
            var $input = $(this);
            var online = $input.is(':checked');
            $.ajax({
                type: 'PUT',
                url: '/setting/online',
                data: '{"value": ' + online + ' }',
                contentType: 'application/json'
            })
        });
        $('.saveSettings').click(function () {
            var $btn = $(this);
            var submitId = $btn.attr('id');
            var $input = $('input[data-submit=' + submitId + ']');
            var value = $input.val();
            var currentId = $input.attr('id');
            $.ajax({
                type: 'PUT',
                url: '/setting/' + currentId,
                data: '{"value": "' + value + '" }',
                contentType: 'application/json',
                success: function (data) {
                    $btn.addClass("green");
                    $btn.text("Saved");
                    setTimeout(function () {
                        $btn.removeClass("green");
                        $btn.text("Save");
                    }, 2000);
                },
                error: function (xhr, type) {
                    $btn.addClass("red");
                    $btn.text("Error");
                    setTimeout(function () {
                        $btn.removeClass("red");
                        $btn.text("Save");
                    }, 2000);
                }
            })

        });
    });

    /*var modal = new Ink.UI.Modal('#modal');
    Ink.requireModules(['Ink.UI.Modal_1'], function (Modal) {
        new Modal('.ink-modal');
    });
    modal.onShow(function () {
        console.log("Show modal");
    });*/
    $('input[type="checkbox"]').onoff();
</script>
</body>
</html>